<!-- author: Martin Sang Do -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Movie Mania</title>
    <link rel="stylesheet" href="/stylesheets/yt.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</head>
<body>
<header>
    <h1>Movie Mania</h1>
</header>
<main>
    <section class="movie-grid">
        <article class="movie">
                <a href="javascript:void(0);">
                    <img src="https://i.ytimg.com/vi/0WABAVQYes8/0.jpg" title="Click to play"/>
                </a>
                <h3>Movie Title 1</h3>
                <a class="author_name" href="/movie/yt/author/xxx" target="_blank">ddd</a>
        </article>
        <article class="movie">
            <a href="https://i.ytimg.com/vi/0WABAVQYes8/0.jpg">
                <img src="https://i.ytimg.com/vi/0WABAVQYes8/0.jpg" alt="Movie Poster 2">
                <h3>Movie Title 2</h3>
            </a>
        </article>
        <article class="movie">
            <a href="https://i.ytimg.com/vi/0WABAVQYes8/0.jpg">
                <img src="https://i.ytimg.com/vi/0WABAVQYes8/0.jpg" alt="Movie Poster 1">
                <h3>Movie Title 1</h3>
            </a>
        </article>
        <article class="movie">
            <a href="https://i.ytimg.com/vi/0WABAVQYes8/0.jpg">
                <img src="https://i.ytimg.com/vi/0WABAVQYes8/0.jpg" alt="Movie Poster 2">
                <h3>Movie Title 2</h3>
            </a>
        </article>
        <article class="movie">
            <a href="https://i.ytimg.com/vi/0WABAVQYes8/0.jpg">
                <img src="https://i.ytimg.com/vi/0WABAVQYes8/0.jpg" alt="Movie Poster 1">
                <h3>Movie Title 1</h3>
            </a>
        </article>
        <article class="movie">
            <a href="https://i.ytimg.com/vi/0WABAVQYes8/0.jpg">
                <img src="https://i.ytimg.com/vi/0WABAVQYes8/0.jpg" alt="Movie Poster 2">
                <h3>Movie Title 2</h3>
            </a>
        </article>
        <article class="movie">
            <a href="https://i.ytimg.com/vi/0WABAVQYes8/0.jpg">
                <img src="https://i.ytimg.com/vi/0WABAVQYes8/0.jpg" alt="Movie Poster 1">
                <h3>Movie Title 1</h3>
            </a>
        </article>
        <article class="movie">
            <a href="https://i.ytimg.com/vi/0WABAVQYes8/0.jpg">
                <img src="https://i.ytimg.com/vi/0WABAVQYes8/0.jpg" alt="Movie Poster 2">
                <h3>Movie Title 2</h3>
            </a>
        </article>
    </section>
</main>
</body>
</html>
